[Unit]
Description=Weekly FB Agent pgBackRest full backup

[Timer]
OnCalendar=Sun *-*-* 02:15:00 Europe/Kaliningrad
Persistent=true
RandomizedDelaySec=10m
Unit=fb-agent-pgbackrest-full.service

[Install]
WantedBy=timers.target
